# ═══════════════════════════════════════════════════════════════════════════════
# Eternity Vault - Operation
# ═══════════════════════════════════════════════════════════════════════════════
# The first SWTOR operation. 3 bosses.

[area]
name = "Eternity Vault"
id = 833571547775670

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 1: Annihilation Droid XRR-3
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "xrr3"
name = "Annihilation Droid XRR-3"
difficulties = ["story", "veteran"]

[[boss.entities]]
name = "Annihilation Droid XRR-3"
ids = [2017165750304768, 1779997656219648, 2034611907461120, 2034573252755456]
is_boss = true
is_kill_target = true

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 2: Gharj
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "gharj"
name = "Gharj"
difficulties = ["story", "veteran"]

[[boss.entities]]
name = "Gharj"
ids = [
  2034534598049792,
  1783772932472832,
  2034526008115200,
  3725089560330240,
  2016946706972672,
]

is_boss = true
is_kill_target = true

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 3: Soa
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "soa"
name = "Soa"
difficulties = ["story", "veteran"]

[[boss.entities]]
name = "Soa"
ids = [2017170045272064, 1783790112342016, 2289823159156736, 2290085152161792]
is_boss = true
is_kill_target = true
