# ═══════════════════════════════════════════════════════════════════════════════
# The Gods from the Machine - Operation
# ═══════════════════════════════════════════════════════════════════════════════
# Iokath operation featuring the Old Gods. 5 bosses.

[area]
name = "The Gods from the Machine"
id = 833571547775765

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 1: TYTH
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "tyth"
name = "TYTH"
difficulties = ["story", "veteran", "master"]

[[boss.entities]]
name = "TYTH"
ids = [4078419339902976, 4078427929837568, 4078415044935680, 4078423634870272]
is_boss = true
is_kill_target = true

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 2: Aivela and Esne
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "aivela_esne"
name = "Aivela and Esne"
difficulties = ["story", "veteran", "master"]

[[boss.entities]]
name = "Aivela"
ids = [4088525397950464, 4118813507321856]
is_boss = true
is_kill_target = true

[[boss.entities]]
name = "Esne"
ids = [4088538282852352, 4118826392223744]
is_boss = true
is_kill_target = true


# ═══════════════════════════════════════════════════════════════════════════════
# Boss 3: NAHUT
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "nahut"
name = "NAHUT"
difficulties = ["story", "veteran", "master"]

[[boss.entities]]
name = "NAHUT"
ids = [
  4122953855795200,
  4108011664572416,
  4122958150762496,
  4122949560827904,
  4152065144127488,
]
is_boss = true
is_kill_target = true

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 4: SCYVA
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "scyva"
name = "SCYVA"
difficulties = ["story", "veteran", "master"]

[[boss.entities]]
name = "SCYVA"
ids = [4081335622696960, 4108140513591296]
is_boss = true
is_kill_target = true

# ═══════════════════════════════════════════════════════════════════════════════
# Boss 5: IZAX
# ═══════════════════════════════════════════════════════════════════════════════

[[boss]]
id = "izax"
name = "IZAX"
difficulties = ["story", "veteran", "master"]

[[boss.entities]]
name = "IZAX"
ids = [4108097563918336]
is_boss = true
is_kill_target = true
